.app-header {
    height:100px;
    width: 100%;
    /* flexbox for header content */
    display: flex;
    flex-direction: row;
  }
  
  .header-icon-container {
    display: flex;
    width: 50px;
    margin:0 10px;
  }

  .header-icon {
    color: rgb(173, 216, 230);
    align-self: center;
    flex: 1;
  }
  
  .header-icon:hover {
    cursor: pointer;
    color:white;
    /* border: 2px solid lightblue; */
  }

  .header-title {
    align-self: center;
    text-align: left;
    vertical-align: bottom;
    margin: 0 20px;
    font-size: 150%;
  }

  .header-title-container {
    flex: 5;
    display: flex;
  }