.navBar {
  font-size: calc(10px + 2vmin);
  border-top: .1px solid #282c34;
  border-right: .1px solid #282c34;
  position:fixed;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: left;
  width: 30%;
  min-width: 300px;
  height: 100%;
  background-color: white;
  text-align: left;
  overflow: scroll;
  overflow-x: hidden;
  animation: .3s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}



@keyframes slideOutToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.navBar-header {
  background-color: #282c34;
  color:white;
  display: flex;
  align-items: center;
}

.navBar-header-icon {
  margin: 10px 20px;
  color: lightblue;
  padding: 2.5%;
}

.navBar-header-icon:hover {
  cursor: pointer;
  background-color: rgb(173, 216, 230, 0.3);
}

.navBar-links{
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.navBar-link {
  color:#282c34;
  padding: 10px 30px;
  width: 100%;
  text-decoration-line:none; 
  font-weight: 600;
}

.navBar-link:hover {
  background-color: rgb(173, 216, 230, 0.3);
}